
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=750,user-scalable=no">
  <title>Cat Generator</title>
  <link rel="stylesheet" href="./assets/css/reset.css">
  <link rel="stylesheet" href="./assets/css/index.css">
  <script src="./assets/js/jquery-3.4.1.min.js"></script>
  <script src="./assets/js/axios.min.js"></script>
  <!--<script src="./assets/js/ammo/ammo.js"></script>-->
  <script src="./assets/js/ammo/ammo.wasm.js"></script>
  <script src="./assets/js/index.js" type="module"></script>
</head>

<body>
  <div id="Main">
    <canvas id="View"></canvas>
  </div>
  <div id="Overlay">
  </div>
</body>
</html>